:root {
  --dark-blue: #2B365A;
  --light-blue: #57E8DF;
  --purple: #A557CA;
  --white: #fff;
  --black: #0A0A0A;

  --weight-thin: 100;
  --weight-light: 400;
  --weight-medium: 600;
  --weight-bold: 700;

  --line-height: 1.2;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: var(--weight-light);
  font-size: 16px;
  line-height: var(--line-height);
  color: var(--black);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  padding: 70px 10px 30px;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 56px;
  background-color: var(--dark-blue);
  z-index: 3;
  justify-content: space-between;
}

.header .logo {
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 26px;
  text-decoration: none;
}

.header .logo-icon {
  width: 56px;
  height: 100%;
  display: flex;
  background-color: var(--light-blue);
}

.header .logo-name {
  color: var(--light-blue);
  font-size: 22px;
  font-weight: var(--weight-bold);
}

.header .logo-name .white {
  color: var(--white);
}

.header-menu {
  display: none;
}

.header-search {
  display: none;
}

aside.aside {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 56px;
  right: 100%;
  width: 100%;
  height: calc(100vh - 56px);
  z-index: 2;
  background-color: var(--dark-blue);
  transition: right 0.3s ease-in-out;
}

.mobile-menu.show {
  right: 0;
}

.mobile-menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.mobile-menu a {
  color: var(--white);
}

main.main {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.card {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.card__standart {
  display: grid;
  text-align: center;
  padding: 44px 28px 36px;
}

.card__standart .title {
  margin-bottom: 55px;
  font-size: 26px;
  position: relative;
  color: var(--dark-blue);
}

.card__standart .text {
  color: var(--black);
}

.card__standart .title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: var(--purple);
}

.docs .card__standart .title::after {
  background-color: #E85959;
}

.order .card__standart .title::after {
  background-color: var(--light-blue);
}

.card__standart .text {
  font-size: 15px;
}

.card__standart .icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 36px;
}

.card-header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--purple);
  color: var(--white);
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 3px 0 3px 0;
  padding: 6px 12px;
}

.card-header__item {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.card-header__item .text {
  font-size: 13px;
}

.card-header span {
  display: flex;
}

.card-header .icon {
  width: 18px;
  height: 18px;
}

.card-footer {
  display: flex;
}


/*news*/
.news .card-header {
  column-gap: 14px;
}

.news-item__content {
  padding: 11px 16px 18px;
}

.news-item__title {
  margin-bottom: 15px;
}

.news-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
}

.news-item-footer__stats {
  display: flex;
  column-gap: 15px;
  color: #8A8A8A;
}

.news-item-footer__stats-item {
  display: flex;
  align-items: center;
  font-size: 13px;
  column-gap: 7px;
}

.news-item-footer__stats-item-icon {
  display: flex;
}

.news-item-footer__stats-item .icon {
  width: 17px;
  height: 17px;
}

.news-footer__link {
  background-color: var(--light-blue);
  color: var(--white);
  padding: 14px 16px;
  -webkit-border-radius: 3px 0 0;
  -moz-border-radius: 3px 0 0;
  border-radius: 3px 0 0;
  text-decoration: none;
}

.news-footer__link .icon {
  width: 6px;
  height: 11px;
}

.news .swiper-news {
  padding-bottom: 25px;
}

.news .swiper-pagination {
  bottom: 0;
}

.news .news-item img {
  width: 100%;
  object-fit: cover;
}

/*news*/


/* birthday */
.birthday .card-header {
  width: 100%;
  justify-content: center;
  column-gap: 7px;
}

.birthday .card-header-icon {
  display: flex;
  align-items: center;
}

.birthday-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 70px;
  row-gap: 25px;
  margin-bottom: 26px;
}

.birthday-item {
  display: flex;
  flex-direction: column;
  place-items: center;
  color: var(--white);
  text-decoration: none;
}

.birthday .card {
  padding: 90px 57px 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, #57E8DF 0%, #A557CA 100%);
  color: var(--white);
}

.birthday-item-photo {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.birthday-link {
  color: var(--white);
  font-size: 13px;
  text-underline-offset: 3px;
}
/* birthday */


/*gallery*/
.gallery {
  position: relative;
}

.gallery .card-header {
  display: none;
}

.gallery .swiper-gallery {
  position: relative;
}

.gallery .swiper-gallery::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
  mix-blend-mode: multiply;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11%, #272E46 100%);
}
/*gallery*/


/*updates*/
.updates .card {
  background: linear-gradient(180deg, #FFFFFF 71.19%, #E3BBF7 100%);
}
/*updates*/

/*docs*/
.docs .card {
  background: linear-gradient(180deg, #FFFFFF 67.11%, #F2CECE 100%);
}
/*docs*/

/*order*/
.order .card {
  background: linear-gradient(180deg, #FFFFFF 67.11%, #BAF7F3 100%);
}
/*order*/

/*calendar*/
.vanilla-calendar {
  width: 100%;
  height: 100%;
  padding: 0;
}

.vanilla-calendar-header {
  background-color: var(--purple);
  align-items: stretch;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 8px;
}

.vanilla-calendar-header__icon {
  width: 65px;
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.vanilla-calendar-header__icon .icon {
  width: 17px;
  height: 20px;
}

.vanilla-calendar-arrow {
  background-color: var(--light-blue);
  height: auto;
}

[data-calendar-theme=light] .vanilla-calendar-arrow:before {
  background-color: var(--white);
}

[data-calendar-theme=light] .vanilla-calendar-header__content,
[data-calendar-theme=light] .vanilla-calendar-month,
[data-calendar-theme=light] .vanilla-calendar-year {
  color: var(--white);
}

.vanilla-calendar-arrow.vanilla-calendar-arrow_prev {
  order: 2;
}

.vanilla-calendar-arrow.vanilla-calendar-arrow_next {
  order: 3;
}

[data-calendar-theme=light] .vanilla-calendar-day__btn {
  background-color: #eee;
}

.vanilla-calendar-days {
  column-gap: 3px;
  padding: 0 4px 4px;
  row-gap: 5px;
}

.vanilla-calendar-day__btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 30px;
  font-size: 14px;
}

[data-calendar-theme=light] .vanilla-calendar-day__btn_prev,
[data-calendar-theme=light] .vanilla-calendar-day__btn_next,
[data-calendar-theme=light] .vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_prev,
[data-calendar-theme=light] .vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_prev,
[data-calendar-theme=light] .vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_next,
[data-calendar-theme=light] .vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_next {
  background-color: #f6f6f6;
  color: #c7c7c7;
}

[data-calendar-theme=light] .vanilla-calendar-day__btn_weekend,
[data-calendar-theme=light] .vanilla-calendar-day__btn_holiday {
  color: #000;
}

[data-calendar-theme=light] .vanilla-calendar-day__btn_today {
  width: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #57E8DF;
  color: #fff;
  aspect-ratio: 1;
}

/*calendar*/

/*burger*/
.burger {
  width: 56px;
  height: 56px;
  cursor: pointer;
  background-color: var(--light-blue);
}

.burger #menu-switch {
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin: 0;
}

.burger .menu-switch,
.burger .menu-switch:after,
.burger .menu-switch:before,
.burger .menu-switch span {
  position: absolute;
  transition: all .3s ease-in-out;
  transform: translateZ(0);
}

.burger .menu-switch {
  width: 56px;
  height: 100%;
  right: 0;
  top: 0;
  cursor: pointer;
}

.burger .menu-switch:after,
.burger .menu-switch:before,
.burger .menu-switch span {
  content: "";
  width: 19px;
  height: 2px;
  left: 50%;
  top: 50%;
  margin-left: -9px;
  margin-top: -1px;
  background-color: #fff;
}

.burger .menu-switch span {
  width: 13px;
  margin-left: 0;
}

.burger .menu-switch:before {
  margin-top: -8px;
}

.burger .menu-switch:after {
  margin-top: 6px;
}

.burger #menu-switch:checked ~ .menu-switch span {
  opacity: 0;
  height: 0;
  transform: rotate(350deg);
}

.burger #menu-switch:checked ~ .menu-switch:after,
.burger #menu-switch:checked ~ .menu-switch:before {
  margin-top: -1px;
}

.burger #menu-switch:checked ~ .menu-switch:before {
  transform: rotate(45deg);
}

.burger #menu-switch:checked ~ .menu-switch:after {
  transform: rotate(-45deg);
}

/*burger*/

.dropback {
  display: none;
}

.dropback.show {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: transparent;
}

/*user*/
.header-user {
  display: none;
  position: relative;
}

.user-dropdown {
  display: none;
}

/*user*/

.user-info__general {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 15px 0;
  text-align: center;
}

.user-info__general .user-name {
  font-weight: var(--weight-light);
  font-size: 32px;
  display: flex;
  flex-direction: column;
}

.user-info__general .user-birthday {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info__general .user-birthday .icon {
  width: 17px;
  height: 16px;
}

.user-info__contacts {
  position: relative;
  padding: 25px 0;
  background-color: var(--dark-blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.user-info__contacts::before{
  content: "";
  position: absolute;
  display: block;
  right: 0;
  left: -20px;
  top: 0;
  margin: auto;
  width: calc(100% + 40px);
  height: 100%;
  background-color: var(--dark-blue);
  z-index: -1;
}
.user-info__row {
  column-gap: 10px;
}
.user-info__row .user-info__title {
  font-size: 13px;
  min-width: 90px;
  color: #8D8D8D;
}

.user-info__row .user-info__value {
  font-size: 16px;
}

.user-info__about {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.user-info__position {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  row-gap: 25px;
}

.user-info__location {
  position: relative;
  filter: drop-shadow(0px 0px 11px rgba(0, 0, 0, 0.24));
  border-radius: 3px;
}

.user-info__location img {
  height: 100%;
  object-fit: cover;
}

.user-info__location-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 7px 10px;
  background-color: var(--light-blue);
  color: var(--white);
}

.user-info__location-header .icon {
  width: 13px;
  height: 17px;
}

.swiper-slide.user-item img{
  height: 100%;
  object-fit: cover;
}

@keyframes dropdown-animation-in {
  from {
    display: flex;
    top: 100%;
    z-index: 4;
    opacity: 0;
  }

  to {
    top: calc(100% + 16px);
    opacity: 1;
    z-index: 4;
  }
}

@keyframes dropdown-animation-in-1920 {
  from {
    display: flex;
    top: 100%;
    z-index: 4;
    opacity: 0;
  }

  to {
    top: calc(100% + 20px);
    opacity: 1;
    z-index: 4;
  }
}

@keyframes dropdown-animation-out {
  0% {
    top: calc(100% + 16px);
    z-index: 4;
    opacity: 1;
  }

  90% {
    top: 100%;
    opacity: 0;
  }

  100% {
    z-index: -1;
    display: none;
  }
}

@keyframes dropdown-animation-out-1920 {
  0% {
    top: calc(100% + 20px);
    z-index: 4;
    opacity: 1;
  }

  90% {
    top: 100%;
    opacity: 0;
  }

  100% {
    z-index: -1;
    display: none;
  }
}
