:root {
  --dark-blue: #2B365A;
  --light-blue: #57E8DF;
  --purple: #A557CA;
  --white: #fff;
  --black: #0A0A0A;

  --weight-light: 400;
  --weight-medium: 600;
  --weight-bold: 700;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  padding: 70px 10px 30px;
  flex-direction: column;
  justify-content: space-between;
}

header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 56px;
  background-color: var(--dark-blue);
  z-index: 3;
}

.header .logo {
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 26px;
  text-decoration: none;
}

.header .logo-icon {
  width: 56px;
  height: 100%;
  display: flex;
  background-color: var(--light-blue);
}

.header .logo-name {
  color: var(--light-blue);
  font-size: 22px;
  font-weight: var(--weight-bold);
}

.header .logo-name .white {
  color: var(--white);
}

.header-menu {
  display: none;
}

aside.aside {
  display: none;
}

main.main {
  display: grid;
  grid-template-columns: 100%;
  gap: 30px;
}

.card {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.card__standart {
  display: grid;
  text-align: center;
  padding: 44px 28px 36px;
}

.card__standart .title {
  margin-bottom: 55px;
  font-size: 26px;
  position: relative;
  color: var(--dark-blue);
}

.card__standart .text {
  color: var(--black);
}

.card__standart .title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: var(--purple);
}

.docs .card__standart .title::after {
  background-color: #E85959;
}

.order .card__standart .title::after {
  background-color: var(--light-blue);
}

.card__standart .text {
  font-size: 15px;
}

.card__standart .icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 36px;
}

.card-header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--purple);
  color: var(--white);
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 3px 0 3px 0;
  padding: 6px 12px;
}

.card-header__item {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.card-header__item .text {
  font-size: 13px;
}

.card-header span {
  display: flex;
}

.card-header .icon {
  width: 18px;
  height: 18px;
}

.card-footer {
  display: flex;
}


/*news*/
.news .card-header {
  column-gap: 14px;
}

.news-item__content {
  padding: 11px 16px 18px;
}

.news-item__title {
  margin-bottom: 15px;
}

.news-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
}

.news-item-footer__stats {
  display: flex;
  column-gap: 15px;
  color: #8A8A8A;
}

.news-item-footer__stats-item {
  display: flex;
  align-items: center;
  font-size: 13px;
  column-gap: 7px;
}

.news-item-footer__stats-item-icon {
  display: flex;
}

.news-item-footer__stats-item .icon {
  width: 17px;
  height: 17px;
}

.news-footer__link {
  background-color: var(--light-blue);
  color: var(--white);
  padding: 14px 16px;
  -webkit-border-radius: 3px 0 0;
  -moz-border-radius: 3px 0 0;
  border-radius: 3px 0 0;
  text-decoration: none;
}

.news-footer__link .icon {
  width: 6px;
  height: 11px;
}

.news .swiper-news {
  padding-bottom: 25px;
}

.news .swiper-pagination {
  bottom: 0;
}
/*news*/


/* birthday */
.birthday .card-header {
  width: 100%;
  justify-content: center;
  column-gap: 7px;
}

.birthday .card-header-icon {
  display: flex;
  align-items: center;
}

.birthday-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 70px;
  row-gap: 25px;
  margin-bottom: 26px;
}

.birthday-item {
  display: flex;
  flex-direction: column;
  place-items: center;
  color: var(--white);
  text-decoration: none;
}

.birthday .card {
  padding: 90px 57px 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, #57E8DF 0%, #A557CA 100%);
  color: var(--white);
}

.birthday-item-name {
  font-size: 16px;
  font-weight: var(--weight-bold);
}

.birthday-item-photo {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.birthday-link {
  color: var(--white);
  font-size: 13px;
  text-underline-offset: 3px;
}
/* birthday */


/*gallery*/
.gallery {
  position: relative;
}

.gallery .card-header {
  display: none;
}
/*gallery*/


/*updates*/
.updates .card{
  background: linear-gradient(180deg, #FFFFFF 71.19%, #E3BBF7 100%);
}
/*updates*/

/*docs*/
.docs .card{
  background: linear-gradient(180deg, #FFFFFF 67.11%, #F2CECE 100%);
}

/*docs*/

/*order*/
.order .card{
  background: linear-gradient(180deg, #FFFFFF 67.11%, #BAF7F3 100%);
}

/*order*/

/* swiper */
/*swiper*/


/*calendar*/
.vanilla-calendar {
  width: 100%;
  padding: 0;
}

.vanilla-calendar-header {
  background-color: var(--purple);
  align-items: stretch;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 8px;
}

.vanilla-calendar-header__icon {
  width: 65px;
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.vanilla-calendar-header__icon .icon {
  width: 16px;
  height: 18px;
}

.vanilla-calendar-arrow {
  background-color: var(--light-blue);
  height: auto;
}

[data-calendar-theme=light] .vanilla-calendar-arrow:before {
  background-color: var(--white);
}

[data-calendar-theme=light] .vanilla-calendar-header__content,
[data-calendar-theme=light] .vanilla-calendar-month,
[data-calendar-theme=light] .vanilla-calendar-year {
  color: var(--white);
}

.vanilla-calendar-arrow.vanilla-calendar-arrow_prev {
  order: 2;
}

.vanilla-calendar-arrow.vanilla-calendar-arrow_next {
  order: 3;
}

/*calendar*/
